body
{
    color: black;
    text-align: left;
    font-family: "Arial";
    font-size: 14px;
    margin:0;
    padding:0;
}
#Cabecera
{
    background: #33A;
    color: white;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    margin:5;
    font-weight: bold;
    padding:0.5em;
    font-size: 2.5em;
}

#Cabecera #Tagline
{
    font-weight: normal;
    padding: 0 0 0 1em;
    font-size: 1em;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align:left;
    border: 1px solid black;
    margin: 20 auto;
    height: 90%;
 }
#container h1
{
    font-size: 20px;
}

#container2
{
    width: 70%;
    padding: 1em;
    text-align:center;
    border: 5px solid black;
    margin: 20 auto;
 }
#container input
{
    font-size: 40px;
}